* {
    box-sizing: border-box;
}

body {
    height : 150vh;
    width : 100vw;
    background-color: #2b2b2b;
    display : flex;
    flex-direction : column;
    align-items: center;
}

#headingSpace {
    height : 40%;
    width : 90%;
    position :absolute;
    top : 2%;
    border-radius: 15px;
    background-color: #fc0362;
    padding: 2%;
}

#headingName {
    position:absolute;
    top : 70%;
    left : 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

#Quote {
     height : 15%;
     width : 90%;
     position : absolute;
     top : 50%;
     padding : 2%;
     border-radius: 10px;
     background-color : #7a797a;
     color: white;
     font-family: 'Georgia', serif;
     display:flex;
     align-items: center;
     font-size: 30px;
     font-style:italic;

}

#codeImage {
    height : 80vh;
    width : 50vw;
    position: absolute;
    top: 70%;
    border-radius: 15px;
    left : 6vw;
}

#codeContent {
    height : 80vh;
    width : 35vw;
    position : absolute;
    top: 70%;
    border-radius: 15px;
    background-color: #7a797a;
    right: 5vw;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
    color : white;
    overflow : auto;
    word-spacing: 3px;
    line-height: 30px;
}

@media (min-width:1023px) and (min-height:981px) {
    #codeImage{
        max-height: 786.55px;
    }
}


@media (max-width: 1023px) {
    #codeImage {
        top: 70%;
        width: 90vw;
        height: 50vh;
        
        
    }

    #codeContent{
        top: 125%;
        width: 90vw;
        height: 50vh;
        left: 6vw;
    }
}

@media  (max-width:617px) {
    #Quote {
        font-size:17px;
    }
}

@media(max-width:475px) {
    #headingName{
        top : 60%;
        font-size: 40px;
    }
}

@media(max-width:280px) {
    #headingName{
        font-size: 35px;
    }
}



@media (max-height:555px) {
    #headingName {
        font-size: 40px;
        top:60%;
    }

    #Quote {
        font-size: 17px;

    }
}

@media(max-height: 322px) {
    #headingName{
        font-size: 30px;
    }
}